
{% extends 'base.html' %}
{% block content %}
<div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    {{major_info_list}}
    {% if major_info_list %}
        <ul>
            {% for major in major_info_list %}
                <li>
                    {{major.MajorName}} <br>
                    {{major.info}} <br>
                    {{major.established}} <br>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
      
</div>
{% endblock %}