{% extends 'base.html' %}
{% block content %}
<div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    {{college_info_list}}
{% if college_info_list %}
    <ul>
        {% for college in college_info_list %}
            <li>
                {{college.college_name}} <br>
                {{college.info}} <br>
                {{college.established}} <br>
                {{college.location}}
            </li>
        {% endfor %}
    </ul>
{% endif %}
      
</div>
{% endblock %}